<nav>
    <ul>
        <% if (session.loggedin== true){ %>
            <li>Hi, <%- session.username %>!</li>
        <% } %>
        <% if (session.loggedin== true){ %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        <% } %>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">Guidelines</a></li>
        <% if (session.loggedin== true){ %>
            <li><a href="/system">Your system</a></li>
        <% } %>
    </ul>
</nav>
