/* Coral Theme Colours */
[data-theme="light"]{
    --col1: #791122;
    --col2: #e0921c;
    --col3: #ca5a0f;
    --col4: #c5008a;
    --col5: #df5248;
	--col6: #793141;
    --col7: #ffceb2;
    --col8: #501638;
    --forum-shade: rgba(116, 0, 71, 0.05);
    --input: rgba(126, 126, 126, 0.2); 
    --bg-img: url("../img/coral-day.png");
    /* --menu-bg: url("../img/coral-reef.jpg"); */
    --wrapper: rgba(246, 233, 255, 0.836);
    --text: black;
    --button: gainsboro;
    --archivedtxt: dimgrey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 170, 188);
    --grad1: rgba(112, 7, 7, 0);
    --grad2: rgb(9, 7, 141);
    --nav-txt: #f8e6eb;
    --page:rgb(78,27,126);
    --page: linear-gradient(0deg, rgba(78,27,126,1) 0%, rgba(198,102,173,1) 100%);
}
[data-theme="dark"]{
    --col1: #f7c3cc;
    --col2: #815523;
    --col3: #ff893b;
    --col4: #a70476;
    --col5: #f33426;
	--col6: #4b0212;
    --col7: #460437;
    --col8: #ff7cc8;
    --forum-shade: rgba(116, 0, 71, 0.05);
    --input: rgba(126, 126, 126, 0.2); 
    --bg-img: url("../img/coral-night.png");
    /* --menu-bg: url("../img/coral-reef.jpg"); */
    --wrapper: rgba(36, 1, 4, 0.651);
    --text: rgb(255, 238, 238);
    --button: gainsboro;
    --archivedtxt: dimgrey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 170, 188);
    --grad1: rgba(112, 7, 7, 0);
    --grad2: rgb(9, 7, 141);
    --nav-txt: #f8e6eb;
    --page: rgb(39,7,70);
    --page:linear-gradient(0deg, rgba(39,7,70,1) 0%, rgba(115,8,69,1) 100%);
}
hr{
    height:3em;
    background-image:url('../img/svg/horizontal_rule_coral.svg');
}
.greeting{
    color: gainsboro;
}

