*{
    font-family: sans-serif;
}

input{
    margin-bottom: calc(2em);
}

dt{
    font-weight: bold;
    font-style: italic;
}
form{
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
}

/* IDs */
#wrapper{
    width: 50vw;
    /* border: 1px solid black; */
    padding: calc(2em);
    margin: 0 auto;
}

/* Classes */

.warningtext{
    font-style: italic;
    font-weight: bold;
    color: crimson;
}

.warningbutton{
    background: crimson;
    color: white;
    border:0;
    padding: calc(1em);
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}
.warningbutton:hover{
    padding: calc(1em) calc(2em);
    background: red;
}
