*{
    font-family: sans-serif;
}

input{
    margin-bottom: calc(2em);
}

dt{
    font-weight: bold;
    font-style: italic;
}
form{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
}

nav{
    width: 100%;
}
nav ul li, footer ul li {
    display: inline-block;
    margin: auto calc(2em);
}
textarea{
    resize: none;
}


/* IDs */
#wrapper{
    width: 50vw;
    /* border: 1px solid black; */
    height: auto;
    padding: calc(2em);
    margin: 0 auto;
}

#blogpopup{
    padding: calc(.5em);
    background: silver;
    width: 25vw;
    z-index: 4;
    position: absolute;
}


/* Classes */

.warningtext{
    font-style: italic;
    font-weight: bold;
    color: crimson;
}

.warningbutton{
    background: crimson;
    color: white;
    border:0;
    padding: calc(1em);
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}
.warningbutton:hover{
    padding: calc(1em) calc(2em);
    background: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  margin-bottom: calc(3em);
}
.grid > div {
    /* border: 1px solid black; */
    /* font-size: .5vw; */
    text-align: center;
    display: table-cell;
    padding: calc(1em);
    border-radius: 15px;
}
.grid > div a {
    text-decoration: none;
    color: black;
}
.vtinyimg{
    width: calc(2em);
    height: auto;
}
.tinyimg{
    width: calc(4em);
    height: auto;
}
.splash{
    width: calc(65vw);
    background: lightyellow;
    padding: calc(2em);
    border: 2px solid goldenrod;
    border-radius: 15px;
}
