/* Mermaid Theme Colours */
:root{
    --col1: #131da3;
    --col2: #d782da;
    --col3: #53d0f7;
    --col4: #3c975a;
    --col5: #469123;
	--col6: #135e51;
    --col7: #b1f1d1;
    --col8: #161f50;
}