/* Shells Theme Colours */
[data-theme="light"]{
    --col1: #5a0539;
    --col2: #e958dd;
    --col3: #f7507d;
    --col4: #973c80;
    --col5: #b327a0;
	--col6: #9e3a88;
    --col7: #f3d6e3;
    --col8: #501638;
    --forum-shade: rgba(209, 33, 33, 0.05);
    --input: rgba(236, 160, 195, 0.2); 
    --bg-img: url("../img/shell-pixel.png");
    --menu-bg: url("../img/seashells.jpg");
    --wrapper: rgba(255, 200, 214, 0.9);
    --text: black;
    --archivedtxt: dimgrey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 169, 209);
    --grad1: rgba(245, 43, 167, 0);
    --grad2: rgb(129, 4, 67);
    --nav-txt: #ffbcbc;
    --page: pink;
}
[data-theme="dark"]{
    --col1: #ffb9e4;
    --col2: #800b53;
    --col3: #ff5ebc;
    --col4: #973c80;
    --col5: #fc98a0;
	--col6: #8d1c75;
    --col7: #570c2e;
    --col8: #d4218a;
    --forum-shade: rgba(209, 33, 33, 0.05);
    --input: rgba(236, 160, 198, 0.2); 
    --bg-img: url("../img/shell-pixel-dark.png");
    --menu-bg: url("../img/seashells.jpg");
    --wrapper: rgba(24, 0, 7, 0.781);
    --text: rgb(255, 255, 255);
    --archivedtxt: dimgrey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 169, 209);
    --grad1: rgba(245, 43, 167, 0);
    --grad2: rgb(129, 4, 67);
    --nav-txt: #f87c7c;
    --button: rgb(253, 87, 87);
    --page: rgb(44, 20, 27);
}

hr{
    height: 3em;
    background-image:url('../img/svg/horizontal_rule_shells.svg');
}
