/* Shells Theme Colours */
:root{
    --col1: #5a0539;
    --col2: #e887e0;
    --col3: #dd3287;
    --col4: #973c80;
    --col5: #b327a0;
	--col6: #421d3a;
    --col7: #f1b1cf;
    --col8: #501638;
}