<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header-error.ejs") %>
    </head>
    <body>
        <script>0</script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <img src="/img/svg/broken_anchor.svg" style="height:calc(24em); float: left;">
            <h2>Error 400- Bad Request</h2>
            <p>Seems our database didn't like that, or we lost connection to it. Please try again later.</p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
