<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
        <section id="subnav">
            <a class="navel" href="/changelog">Changelog</a>
            <a class="navel" href="/glossary">Glossary</a>
        </section>
        <section id="authorsystem">
        <h1>The System Behind the Site</h1>
        <p>The app "Lighthouse" is made by <strong>The Lighthouse System</strong>, a system of 7. Lighthouse will not be a social app and is not intended for roleplay, socialising, or other public activity. This app will not implement messaging, forums, user lookup, etc.</p>
    </section>
    <section id="features">
        <h2>Features of Lighthouse</h2>
        <dl>
            <dt>Private and Public Journalling
            <dd>Every alter can create a <strong>private journal</strong> for themselves, and the account itself has a <strong>Communal Journal</strong>. This is to encourage more communication between parts and keep things as closely documented as a system needs. Alters can lock their journals with passwords to make sure other alters can't access their journals.</dd>
            <dt>Encryption
            <dd><strong>Everything you write on this app is secured.</strong> The data you enter to this website is <strong>not</strong> stored in plain text. It is encrypted. Likewise, the data is then decrypted and encrypted solely on your end so that should someone get in the middle, they get a jumbled mess of code that can't be deciphered instead of your actual data.</dd>
            <dt>Copyright</dt>
            <dd><strong>Everything you write on this app is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the app, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the app.</dd>
        </dl>
    </section>
    <section id="bugs">
        <h2>Found a bug while using Lighthouse?</h2>
        <p>Please email us or send and ask to our tumblr. Include as much info as you can, like what you were doing that caused the bug so we can recreate it and hopefully figure out what happened.</p>
        <ul>
            <li><a href="mailto:dee_deyes@writelighthouse.com">Email us</a></li>
            <li><a href="https://lighthouse-app.tumblr.com/" target="_blank">Send an ask on Tumblr</a></li>
        </ul>
    </section>
    <section id="privacy">
        <h2>Privacy</h2>
        <p>We're writing this in layman's terms because we are a layman. Lighthouse is a journalling app, therefore it is a place to store data on yourself as a whole and as a system. Having said that, there is certain pieces of information that we collect and others that we don't.</p>
        <p>Lighthouse will always collect, regardless of activity:</p>
        <ul>
            <li>A username to identify your account.</li>
            <li>An email to identify your account, plus to email you should you forget your password or delete your account.</li>
            <li>Your timezone to correctly date your posts (still working on this)</li>
        </ul>
        <p>Lighthouse can collect this data, if you elect for it to do so:</p>
        <ul>
            <li>Any post you feed into the app, including post titles.</li>
            <li>Alter and system information, such as a system alias (system name), amount of alters, alter profile information.</li>
            <li>Mood data, if applicable.</li>
            <li>Information on inner worlds.</li>
            <li>Rules for your system(s).</li>
        </ul>
        <p>Lighthouse is never going to ask for demographic information to advertise to you. This is a tool our system used that is being adapted for others to use, too.</p>
        <p>When you delete your account, <em>everything</em> gets deleted. We do not store your data after you delete your account for privacy's sake and to save space on our end.</p>
    </section>
    <hr>
    <section id="upcoming">
        <p>Features Lighthouse hopes to implement in the near or distant future:</p>
        <ul>
            <li>Import alters/systems from Pluralkit</li>
            <li>Forum or messaging between alters.</li>
            <li>2FA for accounts.</li>
            <li>Journal Skin shop? 100% optional and only to help keep the site online.</li>
            <li>Make database calls using websocket.</li>
            <li>More nautical stuff 😄</li>
        </ul>
    </section>
</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
