<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
        <section id="authorsystem">
        <h1>The System Behind the Site</h1>
        <p>The app "Lighthouse" is made by <strong>The Lighthouse System</strong>, a system of 7. Lighthouse will not be a social app and is not intended for roleplay, socialising, or other public activity. This app will not implement messaging, forums, user lookup, etc.</p>
    </section>
    <section id="features">
        <h2>Features of Lighthouse</h2>
        <dl>
            <dt>Private and Public Journalling
            <dd>Every alter can create a <strong>private journal</strong> for themselves, and the account itself has a <strong>Communal Journal</strong>. This is to encourage more communication between parts and keep things as closely documented as a system needs. Alters can lock their journals with passwords to make sure other alters can't access their journals.</dd>
            <dt>Encryption
            <dd><strong>Everything you write on this app is secured.</strong> The data you enter to this website is <strong>not</strong> stored in plain text. It is encrypted. Likewise, the data is then decrypted and encrypted solely on your end so that should someone get in the middle, they get a jumbled mess of code that can't be deciphered instead of your actual data.</dd>
            <dt>Copyright</dt>
            <dd><strong>Everything you write on this app is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the app, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the app.</dd>
        </dl>
    </section>
    <section id="bugs">
        <h2>Found a bug while using Lighthouse?</h2>
        <p>Please email us or send and ask to our tumblr. Include as much info as you can, like what you were doing that caused the bug so we can recreate it and hopefully figure out what happened.</p>
        <ul>
            <li><a href="mailto:dee_deyes@writelighthouse.com">Email us</a></li>
            <li><a href="https://lighthouse-app.tumblr.com/" target="_blank">Send an ask on Tumblr</a></li>
        </ul>
    </section>
</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
