<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h1>Mental Health Resources</h1>
            <section>
                <p>Below are resources you can use if you are in crisis. <strong>These are based primarily in the United States.</strong></p>
                <p><a href="http://togetherweare-strong.tumblr.com/helpline" target="_blank">Global List of Helplines for a variety of countries can be found here.</a></p>
            </section>
            <section>
                <h2>Hotlines</h2>
                <p>Hotlines are phone services designed for <strong>emergencies</strong>. Please be aware that if there is an immediate risk to the safety of yourself or others, these lines might contact emergency services for intervention.</p>
                <ul aria-label="Emergency Hotlines">
                    <li aria-label="3-digit Emergency Number">
                        <strong>3 digit emergency number-</strong> Call or Text <strong>988</strong>, available 24 hours.
                    </li>
                    <li aria-label="SAMHSA National Helpline">
                        <strong>(SAMHSA) National Helpline- </strong>800-662-4357
                    </li>
                    <li aria-label="Trevor Project">
                        <strong>Trevor Project- </strong>Call (866) 488-7386, text START to 678-678
                    </li>
                </ul>
            </section>
            <section>
                <h2>Warm Lines</h2>
                <p>Warm lines are phone services that are not for active emergencies. Because they aren't for emergencies, these lines do not contact the police. If you are in immediate danger, please do not use these lines and use the hotlines above instead.</p>
                <ul aria-label="Non-Emergency Warm Lines">
                    <li aria-label="Blackline">
                        <strong>Blackline- </strong>800-604-5841<br>Focuses on BI&POC.
                    </li>
                    <li aria-label="StrongHearts Native Helpline">
                        <strong>StrongHearts Native Helpline- </strong>844-762-8483<br>Focuses on Native Americans, including Alaska Native Americans.
                    </li>
                    <li aria-label="Trans Lifeline">
                        <strong>Trans Lifeline US- </strong>877-565-8860<br>
                        <strong>Trans Lifeline Canada- </strong> 877-330-6366<br>Focuses on Trans people.
                    </li>
                    <li aria-label="Thrive Lifeline">
                        <strong>Thrive Lifeline- </strong>313-662-8209<br>Trans-led and operated.
                    </li>
                    <li aria-label="LGBT National Help Center">
                        <strong>LGBT National Help Center- </strong>888-843-4564
                    </li>
                    <li aria-label="Wildflower Alliance Peer Support Line">
                        <strong>Wildflower Alliance Peer Support Line- </strong>888-407-4515
                    </li>
                </ul>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
