<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header-error.ejs") %>
    </head>
    <body>
        <script>0</script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <img src="/img/svg/buoy.svg" style="height:calc(24em); float: left;">
            <h2>Oops! Something went wrong.</h2>
            <p>We're sorry, but there was an error processing your request. This could be due to a temporary issue or invalid data provided.</p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
