<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <img src="/img/svg/broken_anchor.svg" style="height:calc(24em); float: left;">
            <h2>Down for a Bit</h2>
            <p>Lighthouse is down for now. We are trying to assess why people are experiencing so many errors. We don't know how long this will last. Thank you for your patience.</p>
            </section>
            <p><small>
                <span class="material-symbols-outlined">
                anchor
                </span>
                Lighthouse was not developed by a medical professional, and is not intended to be a substitute for professional advice, diagnosis, or treatment. Always seek the advice of your mental health professional or other qualified health provider with any questions you may have regarding your condition.</small></p>
                <p>If you are experiencing a mental health crisis, please contact your country's hotline. <a href="https://togetherweare-strong.tumblr.com/helpline">List of global hotlines</a></p>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
