<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #faq > dt::before {
                content: 'Q: ';
                font-style: normal;
            }
            #faq > dd::before{
                content: 'A: ';
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h1>Philosophy</h1>
            <article name="intro">
                <h2>Introduction</h2>
                <p class="dyn">Lighthouse is a website tailored specifically for people with [[ALTERS]] to document that experience and begin to understand their [[SYSTEM]] more. </p>  
            </article>
            <article>
                <h2>Our Core Values</h2>
                <section>
                    <h3>Communication</h3>
                    <p class="dyn">We believe one of the most important first steps in healing as a [[SYSTEM]] is establishing communication internally. That's why we made a platform for [[ALTERS]] to have their own private spaces, and a space for the entire [[SYSTEM]]. By practicing sharing while maintaining internal boundaries, we think this is the key to achieving functional multiplicity.</p>
                    <p class="dyn">Our goal is to help other [[SYSTEMS]] get to a point of feeling safe and comfortable with their [[ALTERS]].</p>
                </section>
                <section>
                    <h3>Inclusivity</h3>
                    <p class="dyn">We believe the skill of internal communication is important not only to [[PLURAL]] users, but to anyone who feels they may benefit from organising thoughts and emotions. Lighthouse does not want to gatekeep this resource from anyone who needs it. By keeping the website focused on the user first, we believe that gatekeeping would be fundamentally counterproductive.</p>
                </section>
                <section>
                    <h3>Integrity</h3>
                    <p class="dyn">We believe that users should feel safe to express themselves and process memories without worry. We ensure your data is encrypted at rest and in transit. We also obfuscate [[ALTER]] and user information for additional protection.</p>
                    <p class="dyn">Instead of socialising with others, we want to focus on the individual user so they can truly have "me time". Lighthouse should be a space for you to focus on your own [[SYSTEM]].</p>
                    <p>Lighthouse will never employ a pay-to-use structure, place advertising on the website, or otherwise bar users from features using a paywall. The site itself is a passion project and will stay that way.</p>
                </section>
                <section>
                    <h3>Accessibility</h3>
                    <p>We believe in making Lighthouse as accessible and open to as many people as possible. This includes improving skins over time, developing multi-lingual support, and developing screen reader support. We're always open to learning, and are happy to hear from our community.</p>
                </section>
                
            </article>
            
            <!-- -------- -->
            <article name="conclusion">
                <h2>Conclusion</h2>
                <p class="dyn">Safe and healthy internal communication is key to functionality. Lighthouse welcomes <strong>anyone</strong> who feels they need to journal in a structure like this, not just medically recognised [[SYSTEMS]]. User safety is paramount. Data is encrypted, and user information is protected. Focus is on individual exploration, not social interaction. Lighthouse is a free, passion project. We want to make Lighthouse an accessible platform for as many users as possible.</p>            </article>
            
            <!-- -------- -->
            <article name="faq">
                <h2>FAQ</h2>
                <p>Here are some frequently asked questions about Lighthouse.</p>
                <dl id="faq">
                  <dt>Is the Lighthouse System a medical professional?</dt>
                  <dd><strong>The Lighthouse System is not a medical professional and cannot provide or replace medical care or advice.</strong> It is extremely important to seek help with a qualified professional that you trust. It would also be extremely unethical, illegal and disingenuous to you-- the user-- if we were to call Lighthouse's content medical advice.</dd>

                  <dt>What's Lighthouse's backstory?</dt>
                  <dd class="dyn">Our [[SYSTEM]] was struggling to keep things organised in our giant binder, so our host (Dee) started to build a private “portal”. This portal had private accounts for each [[ALTER]] to journal and one communal journal for all of us to use. There was also DMing, chatting and appointment reminders. The only problem? It wasn't able to be accessed outside of our singular computer, which posed an issue if something happened while away or if we were travelling. So we've been translating that old private portal into an online version that other people can use too. Development for the private portal started back as early as 2018, and the online version began a couple years later. The site itself wasn't officially announced to the public until 2023. Not everything has been translated over yet, but hopefully it will be soon.</dd>

                  <dt>Will Lighthouse ever have any social features?</dt>
                  <dd class="dyn">First, we want to say it's awesome you feel comfortable enough to share your [[SYSTEM]]. We also understand the potential appeal of socialising with other [[SYSTEMS]]. However, Lighthouse is designed exclusively to be a private and safe space for yourself. We believe the privacy aspect of Lighthouse is crucial for some [[SYSTEMS]] to feel comfortable enough to use the platform.<br>For those interested in socialising with other [[SYSTEMS]], we recommend <a href="https://www.pluralkit.me/" target="_blank" aria-label="Pluralkit on the Web">Pluralkit</a> and <a href="https://tupperbox.app/" target="_blank" aria-label="Tupperbox on the Web">Tupperbox</a> on Discord.</dd>

                  <dt>Who can use Lighthouse?</dt>
                  <dd class="dyn">Anyone who thinks this kind of journalling can help them is welcome to use Lighthouse. We, The Lighthouse System, are a diagnosed and trauma-based [[SYSTEM]], aka a DID [[SYSTEM]]. The app was originally designed just for us, so a lot of the app functions for DID and trauma. Having said that, we don't want to gatekeep who can and cannot find a use in this app. That entire topic is highly controversial, and we don't have the medical credentials to say who can and can't benefit from a resource.</dd>

                  <dt>Can people see what I write on Lighthouse?</dt>
                  <dd>Nope! What you write is encrypted and decrypted on the front end. Basically, any middleman or attacker would get a jumbled mess of gibberish instead of what you wrote, without the key to decrypt whatever the gibberish says. Not even we can read it.</dd>

                  <dt class="dyn">Thoughts on other [[PLURAL]]-related apps?</dt>
                  <dd>We encourage users to use whatever they find useful to them. Lighthouse's aim is not to replace any one resource, but to supplement them. See the next section for a list of other tools that can improve your internal communication.</dd>
                  </dl>
              </article>
              <article>
                <h2>Other Resources</h2>
                <section>
                    <h3 class="dyn">For Internal [[SYSTEM]] Chatting</h3>
                    <ul>
                        <li>Antar <a aria-label="Antar on Google Play Store" href="https://play.google.com/store/apps/details?id=com.satya.antar&pcampaignid=web_share" target="_blank">(Android)</a> <a aria-label="Antar on iOS App Store" href="https://apps.apple.com/us/app/antar-chat/id1550724250" target="_blank">(iOS)</a>- An offline app that allows for internal communication using threads and chat windows as "personas".</li>

                        <li>SelfTalking <a target="_blank" href="https://apps.apple.com/us/app/selftalking/id1019096446" aria-label="SelfTalking on iOS App Store">(iOS only)</a>- An app to leave memos in a chat-based style using "icons". Data is stored exclusively on the user's device.</li>

                        <li class="dyn">Simply Plural <a target="_blank" href="https://play.google.com/store/apps/details?id=com.saltypandastudios.frontime" aria-label="Simply Plural on Google Play Store">(Android)</a> <a href="https://apps.apple.com/us/app/simply-plural/id1563146996" target="_blank" aria-label="Simply Plural on iOS App Store">(iOS)</a> <a target="_blank" href="https://app.apparyllis.com/" aria-label="Simply Plural on the Web">(Web)</a>- A popular app for [[PLURAL]] users to share [[ALTERS]], track [[ALTER]] activity, send notifications to trusted friends about switches, and has a chat feature that functions like a private Discord server.</li>

                        <li>Mytter <a target="_blank" href="https://play.google.com/store/apps/details?id=net.yufuan.mytter" aria-label="Mytter on Google Play Store">(Android)</a> <a target="_blank" href="https://apps.apple.com/us/app/mytter/id1121493823" aria-label="Mytter on iOS App Store">(iOS)</a>- An offline app that allows for chatting between "icons" in a Twitter-like layout. Data is stored exclusively on the user's device.</li>
                    </ul>
                </section>
                <section>
                    <h3>For External System Chatting</h3>
                    <ul>
                        <li class="dyn"><a href="https://www.pluralkit.me/" target="_blank" aria-label="Pluralkit on the Web">Pluralkit</a>- A Discord bot for [[PLURAL]] users to chat as their [[ALTERS]]. Because it's a discord bot, it can be used in public spaces. Has import and export functionality.</li>
                        <li><a href="https://tupperbox.app/" target="_blank" aria-label="Tupperbox on the Web">Tupperbox</a>- A functionally similar bot to Pluralkit, but is more focused on roleplay than for plurality.</li>
                        <li class="dyn"><a href="https://cohost.org/" target="_blank" aria-label="Cohost on the Web">Cohost</a>- Not exclusively a [[PLURAL]] social media platform, but a new platform <strong>(in beta at this time)</strong> with a Twitter-like layout. Users can create pages and post separately as each page from one account. Cohost is currently on a manual activation system.</li>
                    </ul>
                </section>
                <section>
                    <h3>For journalling</h3>
                    <ul>
                        <li>Mystagram <a href="https://apps.apple.com/us/app/mystagram-private-photo-diary/id1331261698" target="_blank" aria-label="Mystagram on iOS App Store">(iOS Only)</a>- An offline app for photo journalling with individual profiles in an Instagram-like layout (commenting included). Data is stored exclusively on the user's device.</li>
                        <li><a href="https://www.lugelo.com/" target="_blank" aria-label="Lugelo on the Web">Lugelo</a>- An app that allows a user to have multiple journals, but they can be made public.</li>
                    </ul>
                </section>
            </article>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
