<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2>Thank you</h2>
            <p>Thank you for signing up. You can now log in.</p>
            <p><strong>Do not refresh!</strong></p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
