<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
                <h1>Temporarily Unavailable</h1>
                <p>Sorry, but signup is temporarily unavailable.</p>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
