<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
                <h2>Sunset of Lighthouse</h2>
                <p>Note for the following: "We" means The Lighthouse System.</p>
                <p>After many years of service, Lighthouse is being retired. Thank you for being a part of our journey. We are grateful to have contributed to the plural community at large, and we hope to return again in the future.</p>
                <p>Our reasoning for sunsetting is complicated and multifaceted:</p>
                <ul>
                    <li>Lighthouse was originally built in 2021, which is <%= new Date().getFullYear() - 2021 %> years ago. Since then, we have learned a lot more about software development. The codebase is relatively the same architecture since that 2021 launch, and it is a very complicated mess that is very difficult to maintain and improve upon. The only way that we think it can be improved upon at this point is by starting over entirely.</li>
                    <li>We weren't prepared for the influx of users and the exponential growth of the community. The website buckled several times from this growth, and became a source of stress very quickly.</li>
                    <li>We are disabled, and juggling a full-time job. Trying to maintain and improve Lighthouse on top of that has become overwhelming. Whenever our health would decline, it would impact our ability to work on the project. Unfortunately since these conditions are chronic, our ability to work has been consistently affected.</li>
                    <li>There were several instances during the development of Lighthouse where our boundaries were crossed by others. While working on Lighthouse, we faced harrassment from developers of other tools and their communities, people misrepresenting our mission and beliefs to either smear our name or to bolster their own agendas, and users using donations to demand features or other actions from us. This has been the primary reason for sunsetting. We are disappointed by these experiences, and we hope that a community like this one can one day be a safer and more supportive space for everyone.</li>
                </ul>
                <p>For now, the website remains accessible and registered users can continue to log in and use its features. Signing up is now disabled. New features will not be added. Updates will be limited to critical security patches and bug fixes only.</p>
                <p>One day, we hope to return with a whole new database architecture, open-source code, and a team of folks instead of just one developer.</p>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
